*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg,#03071e, #2b2d42) fixed no-repeat;
}
.main{
    border-radius: 10px;
    margin: 120px auto;
    width: 50vw;
    padding: 16px ;
    background:#fff;
    
}

.input-box{
    margin: 20px 0;
}

input,button{
    border: 1px solid #222;
    outline: 0;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    padding: 20px 20px;
}

button{
    background: #2b2d42;
    color: orange;
}
h1{
    font-weight: 500;
    padding: 10px 0;
    width: max-content;
    border-bottom: 4px solid #2b2d42;
}
.output-box{
    
    padding: 5px;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    width: 150px;
    

}

.error{
    border: 2px solid red;
    transition: shake linear 0.1s;
    animation-name: shake ;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}


    @keyframes shake {
        0%{
            transform: translateX(0px);
        }

        25%{
            transform: translateX(-2px);
        }

        50%{
            transform: translateX(0px);
        }

         100%{
            transform: translateX(0px);
        }
    }